{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        [
            "module-resolver",
            {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx",
                    ".android.js",
                    ".android.tsx",
                    ".ios.js",
                    ".ios.tsx"
                ],
                "root": ["'./src'"],
                "alias": {
                    "@components": "./src/components",
                    "@config": "./src/config",
                    "@services": "./src/services",
                    "@screens": "./src/screens",
                    "@utils": "./src/utils",
                    "@assets": "./src/assets"
                }
            }
        ]
    ]
}
